.row {
    display: grid;
    grid-template-columns: repeat(2, 40px 2fr);
    column-gap: 20px;
}

.team {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: move;
    cursor: grab;
}

.team:active {
    cursor: grabbing;
}

.team span {
    text-align: left;
    min-width: 200px;
}

.draggable {
    background-color: #b76868;
}

.even {
    background-color: hsl(9, 39%, 86%);
} 

.odd {
    background-color: hsl(87, 4%, 48%);
}

.dragged-row {
    opacity: 0.8;
}